html,
body {
  background-color: #FFFCEA;
  box-sizing: border-box;
  max-width: 640px !important;
  margin: 0 auto;
}
.top img {
  width: 100%;
}
input {
  background-color: #FEEAB6;
  height: 0.70rem;
  line-height: normal;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 0.04rem;
  text-indent: 1em;
  color: #DF8135;
  border-radius: 6px;
  font-size: 0.2rem;
}
.myform {
  padding: 0 20px;
}
.myform .title {
  font-size: 0.36rem;
  font-family: "SimHei";
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: #A72E26;
}
.myform .diqu {
  position: relative;
  width: 40%;
  float: left;
  vertical-align: middle;
  z-index: 10;
}
.myform .diqu .area {
  background-color: #FEEAB6;
  height: 0.70rem;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 4px;
  color: #DF8135;
  border-radius: 6px;
  text-indent: 1em;
  font-size: 0.2rem;
  z-index: 10;
}
.myform .diqu .area option {
  width: 30%;
  color: #DF8135;
  background-color: #fff;
  font-size: 0.2rem;
}
.myform .diqu .arrow {
  position: absolute;
  top: 0.2rem;
  right: 5px;
  z-index: 0 ;
  width: 10%;
}
.myform .tip {
  font-size: 0.2rem;
  vertical-align: middle;
  color: #D92B2C;
  float: left;
  margin-left: 0.3rem;
  margin-top: 0.2rem;
}
.myform .addtitle {
  margin-bottom: 0.04rem;
}
.myform .addtitle1 {
  position: relative;
}
.myform .addtitle1 span {
  display: block;
  width: 1.4rem;
  height: 1.44rem;
  position: absolute;
  background-color: #FFCD7A;
  right: 0px;
  top: 0px;
  text-align: center;
  line-height: 0.6rem;
  color: #A72E26;
  font-size: 0.2rem;
}
.myform .addtitle1 span img {
  width: 30%;
  margin-left: 50%;
  margin-top: 20%;
  transform: translateX(-50%);
}
.myform .add {
  width: 50%;
  height: 0.7rem;
  display: inline-block;
  text-align: center;
  background: url("../image/增加.png") no-repeat;
  background-size: 15%;
  background-position: 5% 50%;
  line-height: 0.7rem;
  background-color: #FFCD7A;
  border-radius: 8px;
  color: #A72E26;
  padding: 0 0.2rem 0rem 0.4rem;
  box-sizing: border-box;
}
.myform .sexdrop {
  width: 49.5%;
  float: left;
  position: relative;
}
.myform .sexdrop .sex {
  background-color: #FEEAB6;
  height: 0.70rem;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 4px;
  text-indent: 0.2rem;
  color: #DF8135;
  border-radius: 6px;
}
.myform .sexdrop .arrow {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 0 ;
}
.myform .box {
  position: relative;
  width: 49%;
  float: right;
}
.myform .box .age {
  width: 101%;
  float: right;
}
.myform .box .tips {
  position: absolute;
  color: #A72E26;
  font-family: "SimHei";
  right: 0;
  top: 46%;
  transform: translate(-100%, -50%);
}
.myform .upload {
  max-height: 1.7rem;
  width: 100%;
  margin-bottom: 0.04rem;
}
.myform .upload iframe {
  width: 100%;
  scrolling: no;
  height: 1.7rem;
}
.myform .box1 {
  position: relative;
  float: left;
  width: 49.5%;
}
.myform .box1 .grade {
  width: 100%;
  float: left;
}
.myform .box1 span {
  position: absolute;
  color: #A72E26;
  font-family: "SimHei";
  top: 46%;
  right: 0;
  transform: translate(-50%, -50%);
}
.myform .box2 {
  position: relative;
  width: 49.5%;
  float: right;
}
.myform .box2 span {
  position: absolute;
  font-family: "SimHei";
  color: #A72E26;
  top: 46%;
  right: 0;
  transform: translate(-50%, -50%);
}
.myform .box3 {
  position: relative;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.myform .box3 .confirm {
  margin-top: -0.4rem;
  text-align: center;
  margin-bottom: 0.8rem;
  font-family: "SimHei";
  position: absolute;
  display: inline-block;
  left: 50%;
  font-size: 0.36rem;
  transform: translateX(-50%);
  width: 1.7rem;
  color: #A72E26;
  background-color: #FFFCEA;
}
.myform .box3 hr {
  border: 1px solid #A72E26;
}
.myform .test {
  width: 70% ;
  border-radius: 6px 0 0 6px;
}
.myform .btn {
  width: 30%;
  background-color: #FFCD7A;
  text-indent: 0em;
  font-family: "SimHei";
  border-radius: 0 6px 6px 0px;
  -webkit-appearance: none;
}
.myform .sbm {
  width: 92%;
  margin-left: 4%;
  margin-bottom: 0.4rem;
  background-color: #E74538;
  border-radius: 8px;
  box-shadow: 0px 5px 0px #C82323;
  color: white;
  font-size: 0.30rem !important;
  font-family: "SimHei";
  -webkit-appearance: none;
  text-indent: 0.00rem;
}
.desc {
  padding: 0 20px;
  background-color: #FFF4D2;
  background-clip: content-box;
  margin-bottom: 0.4rem;
}
.desc ul {
  padding: 0.2rem 0.1rem;
}
.desc ul li {
  font-size: 0.2rem;
  line-height: 0.35rem;
  color: #A72E26;
  margin-left: 10px;
  list-style: none;
  padding: 0 0.4rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.desc ul li:nth-child(1) {
  background-image: url("../image/one.png");
  background-size: 5%;
  background-position: 0% 12%;
  /*背景图片的定位*/
  background-repeat: no-repeat;
  /*禁止图片平铺*/
}
.desc ul li:nth-child(2) {
  background-image: url("../image/two.png");
  background-size: 5%;
  background-position: 0% 50%;
  /*背景图片的定位*/
  background-repeat: no-repeat;
  /*禁止图片平铺*/
}
.desc ul li:nth-child(3) {
  background-image: url("../image/three.png");
  background-size: 5%;
  background-position: 0% 10%;
  /*背景图片的定位*/
  background-repeat: no-repeat;
  /*禁止图片平铺*/
}
.desc ul li:nth-child(4) {
  background-image: url("../image/four.png");
  background-size: 5%;
  background-position: 0% 7%;
  /*背景图片的定位*/
  background-repeat: no-repeat;
  /*禁止图片平铺*/
}
.desc ul li:nth-child(5) {
  background-image: url("../image/five.png");
  background-size: 5%;
  background-position: 0% 50%;
  /*背景图片的定位*/
  background-repeat: no-repeat;
  /*禁止图片平铺*/
}
