<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/voteshow.css"/>
    <script src="jquery-1.8.3/jquery.min.js"></script>
    <script src="layer/layer.js"></script>
    <script src="lib/template.js"></script>
    <script src="lib/pace.js"></script>
    <link rel="stylesheet" href="css/pace-theme-barber-shop.css"/>
    <title>留守儿童才艺大赛</title>
    <style>
        body .demo-class .layui-layer-title{background:#E74538; color:#fff; border: none;}
        body .demo-class .layui-layer-btn a {background:#E74538;}
        body .demo-class .layui-layer-btn a {border: none}
        body .demo-class .layui-layer-btn .layui-layer-btn1{background:#999;}
    </style>
</head>
<body>
<!--投票阶段start-->
<div class="top">
    <img src="images/作品详情页背景.png" alt=""/>
</div>
<div class="show">

</div>
<!--提交作品阶段start-->
<!--<div class="vote">-->
<!--<div class="innerbox">-->
<!--<p>现在为作品报送阶段</p>-->
<!--<p><span>5月25日</span>开启正式投票</p>-->
<!--<span class="xiugai">修改作品</span>-->
<!--</div>-->
<!--</div>-->
<!--<input  type="text" id="msg" name="msg" value=""/>-->
<!--提交作品阶段end-->

<!--投票阶段start-->
<div class="vote">
    <div class="innerbox">
        <p>当前票数 <span class="votenum"></span> 票</p>
        <p></p>
        <button class="xiugai">为TA投票</button>
    </div>
</div>
<!--投票阶段start-->

<!--<div class="social-share" data-sites="wechat,qq,weibo,qzone"></div>-->

<div class="msg clearfix">
    <div class="out">
        <img class="title" src="images/参赛作者信息.png" alt=""/>
        <!--<img class="pic"  src="images/w3.jpg" alt=""/>-->
        <div class="childpic"></div>
        <div class="box">
            <div class="child"></div>
            <div class="school"></div>
        </div>
    </div>
</div>
<div class="image">

</div>
<div class="teacher">
    <!--<div class="box clearfix">-->
        <!--<img class="fudaoyuan" src="images/辅导员.png" alt=""/>-->
        <!--&lt;!&ndash;报名阶段start&ndash;&gt;-->
        <!--&lt;!&ndash;<a  class="editor"><img class="bianji fl" src="images/编辑.png" alt=""/><span>修改辅导老师</span></a>&ndash;&gt;-->
        <!--&lt;!&ndash;报名阶段start&ndash;&gt;-->
        <!--<ul class="teacherlist">-->
        <!--</ul>-->
    <!--</div>-->
</div>
<div class="organization">
    <div class="box clearfix">
        <img src="images/参赛公益组织(学校)信息.png" alt=""/>
        <ul>
            <li>辅导团队：<span class="zuzhi"></span></li>
            <br/><br/>
            <span class="fl" style="display: inline-block;color:#A72E26 " >辅导老师：</span>
            <span class="teacherlist clearfix" style="display: block ;overflow: hidden"></span>
        </ul>
        <!--报名阶段-->
        <!--<ul>-->
            <!--<li class="foot fl"></li>-->
            <!--<li class="zuzhi fl"></li>-->
            <!--<br/><br/>-->
            <!--<li>-->
                <!--<span>活动负责人</span>-->
                <!--<span class="fuzeren"></span>-->
            <!--</li>-->
        <!--</ul>-->
        <!--报名阶段-->

    </div>
</div>
</div>
<!--投票阶段start-->
<div class="time">
    <img src="images/活动赞助支持机构title.png" alt=""/>
    <!--投票阶段start-->
    <ul>
        <li><p>中国人保财险陇南市分公司、陇南富邦汽贸、晟朝名车、陇南协和汽贸、陇南天晨汽贸、陇南益通汽贸、源通鑫车行、庆阳哈利卡汽车金融公司、蜀大侠火锅店、陇南亨利汽贸、陇南恒达海马4S店、陇南都市网</p>
        </li>
    </ul>
    <!--投票阶段end-->
</div>
<!--投票阶段end-->
<div >
    <span class="back">返回作品列表页</span>
</div>
<div class="links">
    <img src="images/爱信.png" alt=""/>
    <span>华夏爱信</span><br/>
    <span>让公益更简单</span>
    <span class="downloading">下载爱信APP</span>
    <img  class="close" src="images/取消按钮.png" alt=""/>
</div>

</body>
<!--站长统计 start-->
<div style="display:none">
    <script src="lib/total.js"></script>
</div>
<!--站长统计 end -->

<script>
//
</script>
<script type="text/html" id="banner">
    <ul>
        {{each worksContent}}
       <li>
            <div>
                <span class="fl type">手工类&nbsp;&nbsp;</span>
                <span class="worktitle">我的杰作</span>
                <br/>
            </div>
            <span class="bianhao clearfix">作品编号<br/><span class="num">4001</span></span>
             <img src="{{$value.split('?')[0]}}?{{$value.split('?')[1]?$value.split('?')[1]+'/size-limit/600k!':'imageMogr2/size-limit/600k!'}} ">
       </li>

        <img class="footbg" src="images/shadow.png" alt=""/>
        {{/each}}

    </ul>

</script>
<script type="text/html" id="school">
    {{if school }}
    {{value}}
    {{/if}}
</script>
<script type="text/html" id="teacher">
    {{each teacherTel}}
    <li>{{$value.name}}</li>
    {{/each}}
</script>
<script type="text/html" id="foot">
    {{if area}}
    <span>{{value}}</span>
    {{/if}}

</script>
<script type="text/html" id="zuzhi">
    {{if organization}}
    <span>{{value}}</span>
    {{/if}}

</script>
<script type="text/html" id="fuzeren">
    {{if person}}
    <span>{{value}}</span>
    {{/if}}

</script>
<script type="text/html" id="childname">
    {{if child}}
    <span>{{value}}</span>
    {{/if}}

</script>
<script type="text/html" id="childpic">
    {{if childUrl}}
    <img class="pic"  src="{{childUrl.split('?')[0]}}?{{childUrl.split('?')[1]?childUrl.split('?')[1]+'/size-limit/400k!':'imageMogr2/size-limit/400k!'}} ">

    {{/if}}
</script>
<script type="text/html" id="holdPicture">
    {{if holdPicture}}
    <div class="box">
        <img  src="{{holdPicture.split('?')[0]}}?{{holdPicture.split('?')[1]?holdPicture.split('?')[1]+'/size-limit/600k!':'imageMogr2/size-limit/600k!'}} ">

    </div>
    {{/if}}
</script>
<script>

</script>
<script>

</script>
<script src="js/voteshow.js"></script>
</html>