<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/worklist.css"/>
    <script src="jquery-1.8.3/jquery.min.js"></script>
    <script src="lib/template.js"></script>
</head>
<body>

    <div class="top">
        <img src="images/红色头顶.png" alt=""/>
    </div>

    <div class="list clearfix">
        <!--<ul>-->
            <!--<li class="clearfix">-->
                <!--<img class="fl" src="images/1.jpg" alt=""/>-->
                <!--<h3>"做文明小学"学生优秀美丽优秀美丽优秀美丽优秀美丽</h3>-->
                <!--<p>参赛编号：4001</p>-->
                <!--<span>作品类型：绘画</span>-->
            <!--</li>-->
            <!--<li class="clearfix">-->
                <!--&lt;!&ndash;<img class="fl" src="images/2.png" alt=""/>&ndash;&gt;-->
                <!--<div class="nowork fl">还未上传作品</div>-->
                <!--<h3>"做文明小学"学生优秀美丽优秀美丽优秀美丽优秀美丽</h3>-->
                <!--<p>参赛编号：4001</p>-->
                <!--<span>作品类型：绘画</span>-->
            <!--</li>-->
        <!--</ul>-->
    </div>

    <!--<div class="box">-->
     <!--<div class="upload">-->
        <!--<span>继续上传参赛作品</span>-->
     <!--</div>-->
    <!--</div>-->
    <!--站长统计 start-->
    <div style="display:none">
        <script src="lib/total.js"></script>
    </div>
    <!--站长统计 end -->


</body>
<script>

</script>

<script type="text/html" id="head">
    <ul>
        {{ each data as v i }}
        <li class="li clearfix">
            <img class="img fl" src="{{v.worksContent[0]}}" alt=""/>
            <h3 class="h">{{v.work}}</h3>
            <p class="biaohao">参赛编号：<span class="num">{{v.workNumber}}</span></p>
            <!--<span>作品类型：{{v.type}}</span>-->
            <span class="type">作品类型：{{if v.type==1}}手工{{/if}}{{if v.type==2}}绘画{{/if}}{{if v.type==3}}书法{{/if}}{{if v.type==4}}写作{{/if}}</span>
        </li>
        {{/each}}
    </ul>

</script>
<script src="js/worklist.js">

</script>

</html>