<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/worksdetails.css"/>
    <script src="jquery-1.8.3/jquery.min.js"></script>
    <script src="layer/layer.js"></script>
    <script src="lib/template.js"></script>
    <title>报名参赛_留守儿童才艺大赛</title>
    <style>
        body .demo-class .layui-layer-title{background:#E74538; color:#fff; border: none;}
        body .demo-class .layui-layer-btn a {background:#E74538;}
        body .demo-class .layui-layer-btn a {border: none}
        body .demo-class .layui-layer-btn .layui-layer-btn1{background:#999;}
    </style>
</head>
<body>
<div class="top">
    <img src="images/红色头顶.png" alt=""/>
</div>
<div class="myform">
    <!--<a href="">-->
        <div class="upload">
            <span>上传参赛作品</span>
        </div>
    <!--</a>-->
</div>
<div class="msg clearfix">
    <div class="out">
        <img class="title" src="images/参赛作者信息.png" alt=""/>
        <!--<img class="pic"  src="images/w3.jpg" alt=""/>-->
        <div class="childpic"></div>
        <div class="box">
            <div class="child"></div>
            <div class="school"></div>
        </div>
    </div>
</div>
<div class="teacher">
    <div class="box clearfix">
        <img class="fudaoyuan" src="images/辅导员.png" alt=""/>
        <a  class="editor"><img class="bianji fl" src="images/编辑.png" alt=""/><span>修改辅导老师</span></a>
        <ul class="teacherlist">

        </ul>
    </div>
</div>
<div class="organization">
    <div class="box clearfix">
        <img src="images/参赛公益组织(学校)信息.png" alt=""/>
        <ul>
            <li class="foot fl"></li>
            <li class="zuzhi fl"></li>
            <br/><br/>
            <li>
                <span>活动负责人</span>
                <span class="fuzeren"></span>
            </li>

        </ul>
    </div>
</div>
</body>
 <!--站长统计 start-->
<div style="display:none">
<script src="lib/total.js"></script>
</div>
 <!--站长统计 end -->
<script>


</script>
<script type="text/html" id="school">
    {{if school }}
    {{value}}
    {{/if}}
</script>
<script type="text/html" id="teacher">
    {{each teacherTel}}
    <li>{{$value.name}}</li>
    {{/each}}
</script>
<script type="text/html" id="foot">
    {{if area}}
    <span>{{value}}]</span>
    {{/if}}

</script>
<script type="text/html" id="zuzhi">
    {{if organization}}
    <span>{{value}}</span>
    {{/if}}

</script>
<script type="text/html" id="fuzeren">
    {{if person}}
    <span>{{value}}</span>
    {{/if}}

</script>
<script type="text/html" id="childname">
    {{if child}}
    <span>{{value}}</span>
    {{/if}}

</script>
<script type="text/html" id="childpic">
    {{if childUrl}}
    <img class="pic" src="{{childUrl}}" alt=""/>
    {{/if}}
</script>

<script src="js/workdetails.js">

</script>
</html>